/* CSS declarations go here */

#outer {
    width: 300px;
    margin: 0 auto;    
}

.activity {
    cursor: pointer;
    padding: 5px;
    width:300px;
}

#activitiesListBox {
    height:100%;
    overflow-x:none;
    overflow-y:scroll;
}
