<head>
  <title>Weldon</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</head>

<body>
  <div id="outer">
    {{> activities}}
  </div>
      <nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse" role="navigation">
  	<a class="navbar-brand" style="cursor:pointer;color:#aaf;font-weight:800;font-family:Arial;font-size:1.25em;">+</a>
	<a class="navbar-brand" style="cursor:pointer;">Score</a>
	<a class="navbar-brand" style="cursor:pointer;">Do!</a>
    </nav>
</body>

<template name="activity">
  <div class="activity">{{description}}</div>
</template>

<template name="activities">
  <h1>Important Todos</h1>
  {{#each activities}}
    {{> activity}}
  {{/each}}
</template>
